.about-us {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
}
.logo {
  width: 150px; 
  height: auto; 
  margin-bottom: 10px; 
}
.intro {
  background: rgba(70, 70, 70, 0.336);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px 20px;
  position: relative;
  border: 1px solid #8080808a;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 0; 
}
.intro h1 span {
  color: #8718a0;
}
.intro p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}
.contact {
  background-color: #f4f4f9f6;
  padding: 20px 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.contact h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}
.contact p {
  font-size: 1.1rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
}
.contact-form {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
.contact-form input,
.contact-form textarea {
  width: 100%; 
  padding: 12px 18px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fafafa;
  box-sizing: border-box; 
  transition: all 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #8718a0;
  background-color: #fff;
}
.contact-form button {
  padding: 12px 30px;
  font-size: 1.1rem;
  color: white;
  background-color: #8718a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-form button:hover {
  background-color: #6c1372;
}
.contact-info {
  margin-top: 40px;
  color: #333;
  font-size: 1.1rem;
}
.contact-info p {
  margin-bottom: 15px;
  font-weight: 500;
}
.contact-info p strong {
  color: #8718a0;
}
@media (max-width: 768px) {
  .contact-form {
    max-width: 100%; 
    padding: 15px; 
  }
  .contact-form input,
  .contact-form textarea {
    padding: 12px; 
    font-size: 1rem; 
  }
  .contact-form button {
    font-size: 1rem; 
    padding: 12px 25px;
  }
  .contact h2 {
    font-size: 2rem; 
  }
  .contact p {
    font-size: 1rem;
  }
  .contact-info p {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .contact-form input,
  .contact-form textarea {
    padding: 10px; 
    font-size: 0.9rem; 
  }
  .contact-form button {
    padding: 10px 20px;
    font-size: 0.9rem; 
  }
  .contact h2 {
    font-size: 1.8rem;
  }
  .contact-info p {
    font-size: 0.85rem;
  }
  .logo {
    width: 100px; 
  }
}
