/* App.css */
html, body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}

.main-content {
  flex: 1; /* This allows the main content to grow and take available space */
  padding: 20px; /* Optional: Add some padding */
}

/* Ensure the background applies correctly */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background: url('/Background.jpg') no-repeat center center fixed;
}
