html, body {
  height: 100%;
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  padding: 20px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background: url('/Background.jpg') no-repeat center center fixed;
}
