.navbar {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #5C4F82;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end; /* Align links to the right */
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5C4F82;
}

.login-button {
    font-size: 18px;
    color: white;
    background-color: #5C4F82;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.login-button:hover {
    background-color: #433663;
}

.navbar-container .logo {
    margin-right: auto; /* Push logo to the left */
}
