.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #4b0082;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 55px !important;
  height: auto;
  vertical-align: middle;
}

.navbar-links {
  flex: 2;
  text-align: center;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  position: relative;
}

.navbar-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-links ul li.active a {
  background-color: #370063;
}

.navbar-links ul li a:hover {
  background-color: #370063;
}

.navbar-login {
  flex: 1;
  text-align: right;
}

.navbar-login a {
  text-decoration: none;
  color: #4b0082;
  background-color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-login a:hover {
  background-color: #370063;
  color: white;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar-logo {
    margin-bottom: 15px;
    display: flex;
    /* Ensure it uses flexbox */
    align-items: center;
    /* Center items vertically */
  }

  .navbar-links {
    display: none;
    width: 100%;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }

  .navbar-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-height: 500px;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .navbar-login {
    margin-top: 15px;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    margin-top: 15px;
  }
}